<h3>List of all Restaurants</h3>

<ul>
  <% @restaurants.each do |restaurant| %>
  <li>
    <p>
      <%= link_to restaurant.name, restaurant_path(restaurant) %> - <%= restaurant.address %> ( <%= restaurant.phone_number %>)
      <%= link_to 'Edit', edit_restaurant_path(restaurant) %>
      <%= link_to 'Delete', restaurant_path(restaurant), method: :delete, data: { confirm: 'Are you sure you want to delete this restaurant?' } %>
    </p>
  </li>
  <% end %>
</ul>
<br/>
<%= link_to 'New restaurant', new_restaurant_path %>
